@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Fix za horizontalni scroll === */
html, body {
  overflow-x: hidden;
}



/* === Custom Scrollbar (dynamic with theme context) === */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: 10px;
  transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}

/* Firefox support */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-color) transparent;
}
